.container{
  display:grid;
  background-color:#fff;
  border-radius:10px;
  margin:10px;

}
.feed_header{
  display:flex;
  margin-inline:10px;
  align-items:center;
  justify-content:space-between;
}

.avatar{
  width:50px;
  border-radius:100px;
  overflow:hidden;
}
.avatar_name{
  margin:0px;
  padding-left:10px;
}
.sub_data{
  margin:2px 0px;
  color:#333333;
  font-size:11px;
  padding-left:10px;
}
.header_icon{
  position:flex-end
}
.img_container{
  margin:10px 0px;
}
.icon_container{
  /* border:1px solid #000; */
  border-radius:50px;
  display:grid;
  align-items:center;
  justify-content:center;
  padding:5px;
}
.bg_green{
  background-color:#00c853;
  color:#fff;
}